.App {
	text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

* {
	text-align: center;
	color: black;
	font-family: Helvetica;
	color: #063970;
	align-items: center;
}
img {
	height: 200px;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid #f9d18b;
	border-radius: 10%;
}

h1 {
	font-family: "Luckiest Guy", cursive;
	font-size: 65px;
	color: rgb(37, 150, 190);
}

h2 {
	font-family: "Luckiest Guy", cursive;
	font-size: 40px;
	color: #063970;
}

.navButton {
	color: rgb(37, 150, 190);
	font-size: 40px;
}
.NavBar {
	border-bottom: #f9d18b solid;
	text-transform: capitalize;
}

.topicLinks {
	color: rgb(37, 150, 190);
	font-size: 20px;
}

li {
	list-style-type: none;
}

.Titles {
	font-size: 30px;
}

.allUsers {
	display: inline-grid;
	grid-template-rows: 17pc 17pc 17pc;
	grid-template-columns: 15pc 15pc 15pc;
	height: 80vh;
	width: min-content;
}

.allArticles {
	display: inline-grid;
	grid-template-rows: 20pc 20pc 20pc;
	grid-template-columns: 17pc 17pc 17pc;
	height: 100vh;
	width: min-content;
}

button {
	background-color: rgb(37, 150, 190);
	border: solid black 0.5px;
	color: white;
	padding: 2px, 3px;
	margin: 2px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 10%;
}

button:hover {
	box-shadow: 0 2px 2px 0 rgb(37, 150, 190), 0 4px 20px 0 rgb(37, 150, 190);
}
