.App {
	text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BenchNine:wght@300&display=swap");

* {
	text-align: center;
	color: black;
	font-family: Helvetica;
	color: #063970;
	align-items: center;
}
img {
	height: 200px;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid #f9d18b;
	border-radius: 10%;
}

h1 {
	font-family: "Luckiest Guy", cursive;
	font-size: 65px;
	color: rgb(37, 150, 190);
}

h2 {
	font-family: "Luckiest Guy", cursive;
	font-size: 40px;
	color: #063970;
}

.navButton {
	color: rgb(37, 150, 190);
	font-size: 40px;
}
.NavBar {
	border-bottom: #f9d18b solid;
}

.topicLinks {
	color: rgb(37, 150, 190);
	font-size: 20px;
}

li {
	list-style-type: none;
}

.Titles {
	font-size: 30px;
}

.allUsers {
	display: inline-grid;
	grid-template-rows: 17pc 17pc 17pc;
	grid-template-columns: 15pc 15pc 15pc;
	height: 80vh;
	width: min-content;
	padding: 8pc;
}
